body{
    font-family: AtlasGrotesk, sans-serif;
    /*color:#637282;*/
    margin: 0px;
    text-align:justify;
    line-height: 20pt;
    /*padding: 10px 0px 10px 0px;*/
}
li{
    display:block;
}
#mainList li{
    padding-top: 25px;
    cursor: pointer;
}
.leftPanel{
    width: 15%;
    height: 100%;
    /*background: #F7F9FA;*/
    float:left;
}
.rightPanel{
    width: 85%;
    height: 100%;
    background: #FFF;
    float: left;
}
p{
    text-align: justify;
    margin: 6px 0px 6px 0px;
    line-height: 20pt;
}
.secDiv{
    float: left;
    /*margin: 0px 0px 0px 7%;*/
}
.secDiv li{
    padding-top: 13px;
    cursor: pointer;
}
.secDiv ul{
    padding: 0px;
    margin-top: 5px;
}
.secDiv li:hover{
    color : #0070E0;
}
.scriptDiv{
    margin-top: 8px;
    white-space: pre-wrap;	
}
#subLan{
	margin: 0;
	padding: 5px 0px 0px 0px;
}
#subLan li{
	padding:5px 0px 5px 0px;
	display: list-item;
}
