<p><b>About me</b></p>
<p>I am passionate developer with 4 years of experience as a full stack developer working for Zoho Corporation. I was part of the team, Zoho Vault &ndash; a SaaS solution to secure passwords. Below is the list of some of the features that I worked on.</p>
<ol id="subLan">
    <li><b>IP restriction</b> &ndash; Users can restrict their account to a particular IP address and the incoming IP is validated against the IP configuration. Once when an IP is validated, the results are stored in Redis to avoid frequent access to database for every request. If there is a change in the IP configuration, the results are deleted from the Redis. The subsequent request IP will be validated and then again stored in Redis.</li>
    <li><b>Browser extension</b> &ndash; I had the opportunity to develop chrome and safari browser extensions for Zoho Vault. The objective of the browser extension to,
        <ul>
            <li>To automate the login process for a web application and password reset option in a single click without user intervention.</li>
            <li>To store the website credentials using PKI and AES 256 encryption schema.</li>
            <li>Provide password suggestions based on domains and also generate passwords based on predefined conditions.</li>
        </ul>
       
    </li>
    <li><b>Password validation library</b> &ndash; The objective of the library is to validate passwords in the user account and provide a snapshot of vulnerable passwords.
        <ul>
            <li>Used dynamic programming to find a match between username and password.</li>
            <li> Used trie data structure to find duplicate and dictionary passwords. I also thought about implementing using HashSet but with sets, we cannot do prefix search, and also memory consumption is not efficient. For example, if there are two passwords with the same base 'password@123' and 'password@1234' with sets there will be two entries. And there is an additional overhead calculating hash for each value.</li>
        </ul>
    </li>
    <li><b>RESTFul API</b> &ndash; Developing RESTFul API is an art and the reasons are, 
        <ul>
            <li>Sticking to HTTP verbs such as POST, GET, PUT, DELETE, and PATCH</li>
            <li>Sending proper success response status that includes 200(Ok), 201(Partial update), and 204(Success but no body in the response)</li>
            <li>Sending proper error responses such as 400(Bad Request), 401(Not authenticated), 403(Not Authorized), 404(You know why), 422(Invalid parameter), and lastly, 500 for internal server error.</li>
            <li>The challenges I faced were API revisioning and network efficient response. To solve these problems, I added the API version in the URL, so it provides backward compatibility to the previous version but increases the code in the backend. The older version must removed after certain period of time. Also, for network constrained devices, the client can send a boolean and based on that either I will send a full object or partial one.</li>
        </ul>
    </li>
    <li><b>Migration from Struts to Spring</b> &ndash; 
        <ul>
            <li>We were using the struts framework in the beginning and as developers, we had to write a lot of boilerplate code, and also object management was horrible.</li>
            <li>Spring boot comes with a lot of features,</li>
            <ul>
                <li>Inversion of control and dependency injection - This features helped us to create thread-safe objects and share them across all incoming requests. Developers need not worry about object lifecycle management, spring take care of everything.</li>
                <li>Embedded containers - Spring boot comes with a Tomcat container, where we can develop and deploy the application as a jar quickly.</li>
                <li>Handles database and Redis connections, centralized error handling using advice controller.</li>
                <li>Better database management with connection pools such as Hikari.</li>
            </ul>
        </ul>
    </li>
    <li><b>Asynchronous communication</b> &ndash; 
        <ul>
            <li>We had an audit and email notification service, whenever a user performs a sensitive action two things happen i) sending a log entry to the database and ii) an email notification to the super admin.</li>
            <li>There is no need for a user to wait till a log entry is made and an email notification is sent to super admins via the SMTP server. With help of rabbitMQ, all these actions are done asynchronously which helped to improve response time with reduced network dependency.</li>
        </ul>
    </li>
    <li><b>Sharing a password to a contractor</b> &ndash; With Zoho Vault, in business plan, passwords can be shared within the team. But there was no option to share a password for short period of time to third party user. So, I worked on the feature to share a password to a third-party user for limited period. &nbsp;The passwords are encrypted using AES 256.</li>
    <li><b>Audits &amp; Reports</b> &ndash; Developed audits that will track user activities, password action and any miscellaneous actions. Developed reports that will provide snapshot of who has access to what passwords, folders.</li>
</ol>
<p style='text-align:justify;'>Even though I had great time working with Zoho, I wanted to improve my skills in Cyber security. Hence, I decided to study Master&rsquo;s in Computer Security at EPITA. I worked on many projects that helped me to understand the importance of the cyber security. Below are some of the projects that I worked on,</p>
<ul id="subLan">
    <li><a href="projects/CryptographyAssignment.pdf" target="_blank">Study on secp256k1 curve used in Blockchain</a></li>
    <li><a href="projects/WebApplication.pdf" target="_blank">Assessment of web application security</a></li>
    <li><a href="projects/Software&Database_security.pdf" target="_blank">Assessment of software and database security</a></li>
    <li><a href="projects/MalwareAnalysis.pdf" target="_blank">Malware Analysis</a></li>
</ul>
<p style='text-align:justify;'>As part of my studies I did a 6 months internship with General Electric &ndash; Renewable Energy. This was my first international experience and I had great time working with some of the best minds. I worked on the Data protection team and below are the areas that I worked on,</p>
<p style='text-align:justify;'><strong>Critical Intellectual Property Application Standard (CIPAS)</strong> - CIPAS is a framework that contains custom security controls. This meant identifying applications that are holding Critical IP and pushing the necessary controls in it. It involves explaining the CIPAS security controls to the application owners and its importance.</p>
<p style='text-align:justify;'><strong>Vera Application</strong> - To assist GE employees and contractors to use Vera application, an Information Rights Management tool that provides encryption and access control over the data when shared with external contractors. Also, extensive testing was required on engineering application with the Vera application so that engineering documents can be shared securely.</p>
<p style='text-align:justify;'><strong>Splunk</strong> - Splunk is a logging tool that is used extensively in the Data Protection team to get information on Vera usage, Critical IP applications, USB exception. To develop alerts, reports and dashboards that were requested by the fellow teammates.</p>

<p><strong>Hobbies</strong></p>
<ul id="subLan">
    <li>I love watching Movies and Series in Netflix, have great interest in wildlife documentaries.</li>
    <li>Travelling &ndash; I wanted to explore as much as possible in my life.</li>
    <li>Love to play cricket and carrom board.&nbsp;</li>
</ul>