<script>
    $(".secDiv li").click(function(){
        $('#tabContent').load($(this).attr("id")+".html");
    })
</script>
<div>
    <div class="secDiv"><b>Sorting Algorithms</b>
        <ul>
            <li id="algorithms/Quicksort">Quick Sort</li>
            <li id="algorithms/Mergesort">Merge Sort</li>
        </ul>
    </div>
</div>
