<script>
    $(".secDiv li").click(function(){
        $('#tabContent').load($(this).attr("id")+".html");
    })
</script>
<div class="secDiv"><b>Challenges</b>
    <ul id="owasp">
        <li id="challenges/overthewire">Overthewire.org</li>
    </ul>
</div>