<script>
    $(".secDiv li").click(function(){
        $('#tabContent').load($(this).attr("id")+".html");
    })
</script>
<div>
    <div class="secDiv"><b>Javascript Concepts</b>
        <ul id="concepts" style="padding-left: 0px;">
            <li id="javascript/closure">Closure</li>
        </ul>
    </div>
</div>
