<script>
    $(".secDiv li").click(function(){
        $('#tabContent').load($(this).attr("id")+".html");
    })
</script>
<div>
    <div class="secDiv"><b>OWASP</b>
        <ul id="owasp">
            <li id="OWASP/SQLInjection">SQL Injection</li>
            <li id="OWASP/AuthenticationFlaw">Authentication Flaw</li>
            <li id="OWASP/SensitiveDataExp">Sensitive Data Exposure</li>
            <li id="OWASP/XXE">XML External Entity</li>
            <li id="OWASP/BrokenAccessCtrl">Broken Access Control</li>
            <li id="OWASP/SecurityMisconfig">Security Misconfigurations</li>
            <li id="OWASP/InsecureDeserial">Insecure Deserialization</li>
            <li id="OWASP/XSS">Cross Site Scripting</li>
            <li id="OWASP/VulnerableComp">Using Components with Known Vulnerabilities</li>
            <li id="OWASP/InsufficientLog">Insufficient Logging and Monitoring</li>
        </ul>
    </div>
    <!--div class="secDiv"><b>Cryptography</b>
        <ul id="crypto">
            <li id="cryptography/introduction">Introduction</li>
            <li>Symmetric Cryptography</li>
            <li>Asymmetric Cryptography</li>
            <li id="cryptography/hash">Hashing Techniques</li>
            <li>Psuedo Random Number Generators</li>
        </ul>
    </div>
    <div class="secDiv"><b>Networking</b>
        <ul id="network">
            <li>Introduction</li>
            <li>IP Subnetting</li>
            <li>Router</li>
            <li>Switch</li>
        </ul>
    </div>
    <div class="secDiv"><b>Protocols</b>
        <ul id="protocol">
            <li>TCP/IP</li>
            <li>SSL/TLS</li>
            <li>SSH</li>
        </ul>
    </div--->
</div>
