<script>
    $("#back").click(function(){
        $('#tabContent').load("javascript.html");
    })
</script>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b></b>Closure</div>
<div>Closure in simple terms is a function inside a function ie nested functions. More technically, closure is created when a child functions keep the environment of the parent scope even after the parent function has already executed. Let us take a problem statement to understand the purpose of closure.</div>
<div class="scriptDiv"><b>&lt;script&gt;
	var clickCount = 0;
	function onClick(){
		clickCount++;
		return clickCount;
	}
&lt;/script&gt;
&lt;body&gt;
	&lt;button onclick=onClick();&gt;&lt;/button&gt;
&lt;/body&gt;</b></div>
<div class="scriptDiv">The problem with the solution is any function or script can make a modification to the variable clickCount as the scope is global. We can rewrite the solution.</div>
<div class="scriptDiv"><b>&lt;script&gt;
	function onClick(){
		var clickCount = 0;
		clickCount++;
		return clickCount;
	}
&lt;/script&gt;</b></div>
<div class="scriptDiv">It does not work because the variable clickCount is reinitialized every time. Now we want to make sure the clickCount is globally accessible but can be modified by onClick function only. This is where the closure comes in place.</div>
<div class="scriptDiv"><b>&lt;script&gt;
	var onClick=function (){
		var clickCount = 0;
		return function () { clickCount++; return clickCount}
	}();
	function myFunction(){
  		document.getElementById(&quot;demo&quot;).innerHTML = onClick();
	}
&lt;/script&gt;
&lt;body&gt;
	&lt;button type=&quot;button&quot; onclick=&quot;myFunction()&quot;&gt;Count!&lt;/button&gt;
	&lt;p id=&quot;demo&quot;&gt;0&lt;/p&gt;
&lt;/body&gt; </b></div>
<div class="scriptDiv">The above solution works. The clickCount variable will be manipulated by onClick function alone and it can be globally accessed by invoking the onClick function. Now, let us rewrite the solution in a better way.</div>
<div class="scriptDiv"><b>1 &lt;script&gt;
2	var add=function(){
3		var clickCount = 0;
4		return {
5			&quot;onClick&quot;:function() { 
6				clickCount += 1;
7			},
8			&quot;currentCount&quot;:function() {  
9				return clickCount;
10 			}
11		};
12 	}();
13 	function myFunction(){
14 		add.onClick();
15  		document.getElementById(&quot;show&quot;).innerHTML = add.currentCount();
16 	}
17 	&lt;/script&gt;
18 &lt;body&gt;
19 	&lt;button type=&quot;button&quot; onclick=&quot;myFunction()&quot;&gt;Count!&lt;/button&gt;
20 	&lt;p id=&quot;show&quot;&gt;0&lt;/p&gt;
21 &lt;/body</b></div>
<div class="scriptDiv">Now we can decode how the script gets executed. There are two modes i) Global execution mode and ii) Local execution mode. There are three different scopes for a variable i) Closure ii) Local and iii) Global</div>
<div class="scriptDiv">All the functions will be executed in local mode and the rest will be executed in global mode.</div>
<ul id="subLan">
	<li>Line 2: There is a variable called add which is initialized to undefined but since there assignment operator next to it the RHS part will be evaluated and will be replaced with undefined</li>
	<li>On the right side, there is a function, the add variable will either have a function definition or the result of the function</li>
	<li>In this case, the function will be executed since it is a self-executing function and the result will be stored in the add variable</li>
	<li>We can identify whether the function is a self-executing function or just a function definition by looking at line number 12. There is () at the end of the line which suggests that it will be executed. It is important to note that all these occur at the global level</li>
	<li>Since there is a function at line 2, an entry is made in the stack and the function will be executed in local mode
		<ul>
			<li>Initially, if there are parameters in the function, memory will be allocated to the parameters in the local context. Since there is no parameter in the function execution goes to line 3</li>
			<li>Line 3: clickCount variable is initialized with value 0</li>
			<li>Line 4: return statement which returns an object. The object has two properties and both are functions</li>
			<li>Line 5: onClick property contains the function definition</li>
			<li>Line 6: In the function definition, the function uses clickCount variable. This is where closure comes in place since the clickCount is defined in the parent function, the function along with the variable clickCount is packed together and returned to add variable. Now clickCount is accessible even when the parent function is destroyed</li>
			<li>Same thing goes for currentCount function. Now add variable will have two functions along with the variable clickCount</li>
		</ul>
	</li>
	<li>Line 14: When add.onClick function gets executed, the function contains the variable clickCount which needs to be incremented. The clickCount variable will be checked in closure scope, if it is not there then function local scope and finally the global scope. The clickCount variable is actually available in closure scope and the corresponding value will be returned</li>
	<li>Line 15: add.currentCount will be executed and the value of the clickCount variable will be returned</li>
</ul>
<div class="scriptDiv"><b>Usage of Closures</b></div>
<ul id="subLan">
	<li>Used to enforce public/private methods and variables and data hiding can be acheived
	<div class="scriptDiv">a = (function () {
    var privatefunction = function () {
        alert('hello');
    }
    return {
        publicfunction : function () {
            privatefunction();
        }
    }
})();</div>
	</li>
	<li>Bind event handlers to elements
	<div class="scriptDiv">var charElems = document.getElementsByClassName(&#39;char&#39;);
for (var i=0; i &lt; charElems.length; i++) {
	charElems[i].addEventListener(&#39;mouseover&#39;, (function(temp) {
	return function(){
             var j = temp;
             console.log(temp);
       }
    }(i)));
}  </div>
	</li>
</ul>
<div><b>References</b></div>
<ul id="subLan">
<li><a href target="_blank">https://medium.com/javascript-scene/master-the-javascript-interview-what-is-a-closure-b2f0d2152b36</a></li>
<li><a href target="_blank">https://www.w3schools.com/js/tryit.asp?filename=tryjs_function_closures5</a></li>
<li><a href target="_blank">https://medium.com/dailyjs/i-never-understood-javascript-closures-9663703368e8</a></li>
</ul>
