<script>
    $("#back").click(function(){
        $('#tabContent').load("algorithms.html");
    })
</script>
<style>
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>Merge Sort</b></div>
<div>
<ul id="subLan">
	<li style="font-weight: 400;"><span style="font-weight: 400;">Works on divide and conquer</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">It divides the input array into two halves and then merges the two sorted halves</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Consider the below example</span></li>
	<img src="../img/Annotation 2019-12-14 230013.png" style="height:600px;margin-top:11px"></img>
	<li style="font-weight: 400;"><span style="font-weight: 400;">We can see that the array is recursively divided into two halves till the size becomes 1. Once the size becomes 1, the merge processes come into action and start merging arrays back till the complete array is merged</span></li>
</ul>
<div><b>Algorithm</b></div>
<div class="scriptDiv">function mergeSort
if ( i <= 1 ) return a
       	var left = a[0] to a[i/2]
       	var right = a[i/2+1] to a[i]
       	left = mergeSort( left )
       	right = mergeSort( right )
       	return merge( left,right )
 
function merge
while length(left) > 0 and length(right) > 0
        		if first(left) â‰¤ first(right)
            		append first(left) to result
            		left = rest(left)
        		else
            		append first(right) to result
            		right = rest(right)
    	if length(left) > 0
        		append left to result
    	if length(right) > 0
append right to result
return result</div>
<div style="margin-top:11px" ><b>Complexity</b></div>
<ul id="subLan">
	<li style="font-weight: 400;"><span style="font-weight: 400;">Merge sort run time is  O(nlog<sub>2</sub>n) for both average and worst case</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Takes additional space O(n)</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Let us derive a recurrence equation for Merge sort to find complexity and consider comparison as our unit operation</span></li>
	<ul>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(1) = 1 when the array size is 1</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = c(n/2) + c(n/2) + n&nbsp; ------------------------------------------------------------- equation 1&nbsp;</span></li>
		<li>
<div class="scriptDiv">function mergeSort
 	if ( i <= 1 ) return a
 		var left = a[0] to a[i/2]
       		var right = a[i/2+1] to a[i]
		left = mergeSort( left )      ----------------------------- c(n/2)
       		right = mergeSort( right )  ------------------------------ c(n/2)
 		return merge( left,right )   ---------------------------- n, number of comparison</div>
		</li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n/2) =&nbsp; c(n/4) + c(n/4) + n/2 ------------------------------------------------------ equation 2</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Substitute equation 2 in 1</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = c(n/4) +&nbsp; c(n/4) + n/2 + c(n/4) +&nbsp; c(n/4) + n/2 + n</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = 4c(n/4) + n + n = 4c(n/4) + 2n = 2<sup>2</sup>c(n/2<sup>2</sup>) + 2n ----------------------- equation 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
  		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n/4) =&nbsp; c(n/2<sup>3</sup>) +  c(n/2<sup>3</sup>) + n/2<sup>2</sup> -------------------------------------------------- equation 4</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Substitute equation 4 in 3</span></li>
  		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = 2<sup>2</sup>(c(n/2<sup>3</sup>) +  c(n/2<sup>3</sup>) + n/2<sup>2</sup>) + 2n = 2<sup>3</sup>c(n/2<sup>3</sup>) + 3n ------------------ equation 5</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Let us generalize the equation 5</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = 2<sup>k</sup>c(n/2<sup>k</sup>) + kn</li>
  		<li style="font-weight: 400;"><span style="font-weight: 400;">When n = 2<sup>k</sup> then k = log<sub>2</sub>n</li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = n c(1) + nlog<sub>2</sub>n and c(1) = 1</span></li>	
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = n + nlog<sub>2</sub>n, n is negligible here</span></li>	
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = nlog<sub>2</sub>n</span></li>	
	</ul>
</ul>
<p><strong>Is Merge sort stable?</strong></p>
<p><span style="font-weight: 400;">Yes, Merge sort is a stable algorithm</span></p>
<strong>Advantages</strong></p>
<ul id="subLan">
<li style="font-weight: 400;"><span style="font-weight: 400;">The average and worst-case has a complexity of O(nlog<sub>2</sub>n)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Stable sorting algorithm</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Linked list sorting</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Used for external sorting</span></li>
</ul>
<p><strong>Disadvantages</strong></p>
<ul id="subLan">
<li style="font-weight: 400;"><span style="font-weight: 400;">Takes additional space of O(n) </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The locality of reference is poor</span></li>
</ul>
</div>
