<script>
    $("#back").click(function(){
        $('#tabContent').load("algorithms.html");
    })
</script>
<style>
img{
height:85px;
}
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>Quicksort</b></div>
<div>
<ul id="subLan">
	<li style="font-weight: 400;"><span style="font-weight: 400;">Works on divide and conquer</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">A pivot is chosen and elements lesser than the pivot are stored on the left-hand side of the array and elements greater than the pivot are stored on the right-hand side of the array</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Pivot can be chosen in the following ways</span></li>
	<ul>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Randomly selecting a pivot</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Selecting the first or last element</span></li>
	</ul>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Consider the below example</span></li>
	<img src="../img/Annotation 2019-12-08 214049.png"></img>
	<li>Now choose 10 as the pivot and create two variables i=0 and j=9. The variable i will be incremented until a value greater than 10 is found and j will be decremented until a value less than 10 is found</li>
	<img src="../img/Annotation 2019-12-08 215307.png" style="margin-left: -7px;"></img>
	<li>Now i and j will be interchanged and the same process will continue until i and j crossover</li>
	<img src="../img/Annotation 2019-12-08 215553.png" style="height:394px;margin-left: -2px;"></img><br>
	<img src="../img/Annotation 2019-12-08 230618.png" style="height:188px;margin-left:-11px"></img>
	<li>As i and j crossed each other, the iteration will be stopped. Now pivot element will be exchanged with j’th element</li>
	<img src="../img/Annotation 2019-12-08 220046.png"></img>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Now pivot element is in the correct position and all elements in the left of the pivot is smaller than the pivot and all elements in the right of the pivot is greater than 10&nbsp;&nbsp;</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">The left and right subarray with respect to the pivot can be recursively solved</span></li>
</ul>
<div><b>Algorithm</b></div>
<div class="scriptDiv">quickSort(arr[], low, high)
{
	if (low < high)
    	{
        	/* pi is partitioning index, arr[pi] is now at right place */
        	pi = partition(arr, low, high);
		quickSort(arr, low, pi - 1);  // Before pi
        	quickSort(arr, pi + 1, high); // After pi
    	}
}
partition(arr,low,high)
{
	pivot = arr[low]
	i=low, j=high
 	while (true) {
		do{
			i++
		}while (arr[i] < pivot) 
		do{
			j--
		} 
		while (arr[j] > pivot) 
		if (i <  j) 
 		swap(a, i, j) 
	} 
	swap(a, low, j) 
	return j
}
</div>
<div><b>Complexity - Average Case</b></div>
<ul id="subLan">
	<li style="font-weight: 400;"><span style="font-weight: 400;">The complexity of the quicksort depends on partition of the array. If all the subarrays are partitioned exactly in the middle of the array, then the complexity will be O(log<sub>2</sub>n)</span></li>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Let us derive a recurrence equation for quicksort to find complexity and consider comparison as our unit operation</span></li>
	<ul>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(1) = 1 when the array size is 1</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = c(n/2) + c(n/2) + n&nbsp; ------------------------------------------------------------- equation 1&nbsp;</span></li>
		<li>
<div class="scriptDiv">quickSort(arr[], low, high){
	if (low < high)
	{
		pi = partition(arr, low, high); ---------------------------- n, number of comparison in partition function
		quickSort(arr, low, pi - 1);    ------------------------------ c(n/2)
		quickSort(arr, pi + 1, high);  ------------------------------ c(n/2)
	}
}	
</div>
		</li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n/2) =&nbsp; c(n/4) + c(n/4) + n/2 ------------------------------------------------------ equation 2</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Substitute equation 2 in 1</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = c(n/4) +&nbsp; c(n/4) + n/2 + c(n/4) +&nbsp; c(n/4) + n/2 + n</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = 4c(n/4) + n + n = 4c(n/4) + 2n = 2<sup>2</sup>c(n/2<sup>2</sup>) + 2n ----------------------- equation 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
  		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n/4) =&nbsp; c(n/2<sup>3</sup>) +  c(n/2<sup>3</sup>) + n/2<sup>2</sup> -------------------------------------------------- equation 4</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Substitute equation 4 in 3</span></li>
  		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = 2<sup>2</sup>(c(n/2<sup>3</sup>) +  c(n/2<sup>3</sup>) + n/2<sup>2</sup>) + 2n = 2<sup>3</sup>c(n/2<sup>3</sup>) + 3n ------------------ equation 5</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Let us generalize the equation 5</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = 2<sup>k</sup>c(n/2<sup>k</sup>) + kn</li>
  		<li style="font-weight: 400;"><span style="font-weight: 400;">When n = 2<sup>k</sup> then k = log<sub>2</sub>n</li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = n c(1) + nlog<sub>2</sub>n and c(1) = 1</span></li>	
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = n + nlog<sub>2</sub>n, n is negligible here</span></li>	
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = nlog<sub>2</sub>n</span></li>	
	</ul>
</ul>
<div><b>Complexity - Worst Case</b></div>
<ul id="subLan">
	<li style="font-weight: 400;"><span style="font-weight: 400;">Worst case occurs when the array is already sorted or the array has same elements in it</span></li>
	<img src="../img/Annotation 2019-12-09 194022.png" style="height:63px;margin-left: -2px;"></img><br>
	<li style="font-weight: 400;"><span style="font-weight: 400;">When the pivot is chosen as 0, the variable i will traverse the array looking for the largest element than the pivot element. Since the element at index 1 is greater than the pivot i will stop traversing. The variable j will look for an element smaller than the pivot. It will traverse the entire array looking for the smallest element in turn by crossing i. The final value of j will be 1. The partition will occur at index 0.</span></li>
	<img src="../img/Annotation 2019-12-09 195215.png" style="height:54px;margin-left: -9px;"></img><br>
	<li>Subsequently, the partition will occur at 2 and so on.</li>
	<img src="../img/Annotation 2019-12-09 195603.png" style="height:264px;margin-left: -5px;"></img><br>
	<li style="font-weight: 400;"><span style="font-weight: 400;">Again, let us derive a recurrence equation for quicksort to find complexity and consider comparison as our unit operation</span></li>
	<ul>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(1) = 1 when the array size is 1</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = c(n-1) + n&nbsp; ------------------------------------------------------------- equation 1</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n-1) =&nbsp; c(n-2) + n - 1 ------------------------------------------------------ equation 2</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = c(n-2) + 2n - 1 &nbsp; ------------------------------------------------------ sub equation 2 in 1 &gt; equation 3</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n-2) = c(n-3) + n - 2&nbsp; ------------------------------------------------------ equation 4</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">c(n) = c(n-3) + 3n - 3 &nbsp; ------------------------------------------------------ sub equation 4 in 3</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Generalizing, the equation c(n) = c(n-k) + kn - constant</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">Removing the constant, c(n) = c(n-k) + kn</span></li>
		<li style="font-weight: 400;"><span style="font-weight: 400;">When k= n-1, c(n) = c(n-(n-1)) + (n-1)n= c(1) + n(n-1) = n<sup>2</sup></span></li>
	</ul>
</ul>
<p><span style="font-weight: 400;">The worst-case in quicksort can be avoided&nbsp;</span></p>
<ul id="subLan">
<li style="font-weight: 400;"><span style="font-weight: 400;">by choosing the pivot randomly</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Shuffling the input </span></li>
</ul>
<div><b>Proof - choosing the pivot randomly</b></div>
<div>Whenever we find the time complexity of a sorting algorithm, it will be based on the number of comparisons. For example, in the average case, the total number of comparisons is n log(n).The worst-case occurs when the array is already sorted and let us consider an array X having elements from 0….n-1 which are sorted. Let us consider two elements e<sub>i</sub> and e<sub>j</sub> from the array such that i<j and probability of i and j being compared be P(X<sub>i,j</sub>). P(X<sub>i,j</sub>) will be either 1 if  e<sub>i</sub> and e<sub>j</sub> are being compared or 0 if no comparison.
<br><img src="../img/Annotation 2019-12-09 204806.png" style="height:727px;margin-left: -4px;"></img><br>
</div>
<div style="margin-top: 15px;">
<span style="font-weight: 400;"><b>Is Quicksort stable?</b></span></p>
<p><span style="font-weight: 400;">A </span><a href="https://www.geeksforgeeks.org/sorting-algorithms/"><span style="font-weight: 400;">sorting algorithm</span></a><span style="font-weight: 400;"> is said to be </span><a href="https://www.geeksforgeeks.org/stability-in-sorting-algorithms/"><span style="font-weight: 400;">stable</span></a><span style="font-weight: 400;"> if it maintains the relative order of records in the case of an equality of keys. For example, </span><em><span style="font-weight: 400;">&nbsp;</span></em><span style="font-weight: 400;">input (1, 5), (3, 2) (1, 2) (5, 4) (6, 4)</span></p>
<p><span style="font-weight: 400;">We need to sort key-value pairs in the increasing order of keys of the first digit</span></p>
<p><span style="font-weight: 400;">There are two possible solutions for the two pairs where the key is same i.e. (1, 5) and (1, 2) as shown below:</span></p>
<p><span style="font-weight: 400;">OUTPUT1: (1, 5), (1, 2), (3, 2), (5, 4), (6, 4)</span></p>
<p><span style="font-weight: 400;">OUTPUT2: (1, 2), (1, 5), (3, 2), (5, 4), (6, 4)</span></p>
<p><span style="font-weight: 400;">A stable algorithm produces first output. You can see that (1, 5) comes before (1, 2) in the sorted order, which was the original order i.e. in the given input, (1, 5) comes before (1, 2).</span></p>
<p><span style="font-weight: 400;">The second output can only be produced by an unstable algorithm. You can see that in the second output, the (1, 2) comes before (1, 5) which was not the case in the original input</span><em><span style="font-weight: 400;">.</span></em></p>
<p><span style="font-weight: 400;">Naturally, the Quicksort algorithm are not stable but it can be converted into a stable algorithm.</span></p>
</div>
<strong>Advantages</strong></p>
<ul id="subLan">
<li style="font-weight: 400;"><span style="font-weight: 400;">It is in place sorting algorithm only </span><span style="font-weight: 400;">auxiliary stack memory is used</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Quicksort works well for smaller arrays&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The locality of reference is good</span></li>
</ul>
<p><strong>Disadvantages</strong></p>
<ul id="subLan">
<li style="font-weight: 400;"><span style="font-weight: 400;">Can have worst-case </span><span style="font-weight: 400;">O(</span><span style="font-weight: 400;">n</span><span style="font-weight: 400;"><sup>2</sup></span><span style="font-weight: 400;">) if the pivot is not chosen properly</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Not a stable algorithm but can be made stable algorithm by using some code changes</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Not efficient for larger arrays</span></li>
</ul>
</div>
