<script>
        $("#back").click(function(){
            $('#tabContent').load("securitystudy.html");
        })
    </script>
    <style>
       #subLan{
            margin: 0;
            padding: 5px 0px 0px 0px;
        }
        #subLan li{
            padding:5px 0px 5px 0px;
            display: list-item;
        }
        #phase td{
            padding: 10px 0px 10px 0px;
        }
        li {
            display: list-item;
        }
        ul{
            margin: 0;
            padding: 0;
        }
    </style>
    <a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
    <div align="center"><b>Introduction</b></div>
    <div>
            Cryptography is all about how Alice and Bob securely share information.
            Over the years many cryptography algorithms were introduced to securely
            share information. Caesar's cipher was one of the most famous cryptography
            algorithms. But it was weak against analytical attack. No algorithm can be
            termed perfectly secure. All cryptographic algorithm will be broken at some
            point but it should really difficult to break the algorithm.
        </div>
        <div>
            <br/>
        </div>
        <div>
            <b>Applications of Cryptography</b>
        </div>
        <div>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">
                        Used in protocols such as TLS/SSL, SSH
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Computer or website passwords are stored as hashes
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Cryptocurrencies
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Chip-based payment cards
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Digital Signature
                    </p>
                </li>
            </ul>
        </div>
        <div>
            <br/>
        </div>
        <div>
                <b>Modern cryptography concerns itself with the following four objectives</b>

        </div>
        <div>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">
                        Confidentiality: the information cannot be understood by anyone for whom it was unintended
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                    Integrity: the information cannot be altered in storage or transit between sender and intended receiver without the alteration being detected
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                    Non-repudiation: the creator/sender of the information cannot deny at a later stage his or her intentions in the creation or transmission of the information
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                    Authentication: the sender and receiver can confirm each other's identity and the origin/destination of the information
                    </p>
                </li>
            </ul>
        </div>
        <div>
                <br/>
            </div>
        <div>
                <b>Concepts under cryptography are as follows</b>
        </div>
        <div>
            <ul>
                <li dir="ltr">
                    <p dir="ltr">
                        Symmetric Encryption
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Asymmetric Encryption
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Hashing Techniques
                    </p>
                </li>
                <li dir="ltr">
                    <p dir="ltr">
                        Pseudo-Random Number Generator
                    </p>
                </li>
            </ul>
        </div>