<script>
    $(".secDiv li").click(function(){
        $('#tabContent').load($(this).attr("id")+".html");
    })
    $("#back").click(function(){
        $('#tabContent').load("challenges.html");
    })
</script>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div style="padding: 5px 0px 5px 0px;float:none;margin:0" align="center" class="secDiv"><b>Overthewire challenges</b>
    <ul id="owasp" style="padding: 0;margin: 0;">
        <li id="challenges/overthewire/bandit">Bandit</li>
    </ul>
</div>
