<script>
    $("#back").click(function(){
        $('#tabContent').load("securitystudy.html");
    })
</script>
<style>
   #subLan{
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
    #subLan li{
        padding:5px 0px 5px 0px;
        display: list-item;
    }
    #phase td{
        padding: 10px 0px 10px 0px;
    }
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>Authentication Flaw</b></div>
<div>Authentication and session management includes all aspects of handling user authentication and managing active sessions. Authentication is a critical aspect of this process, but even solid authentication mechanisms can be undermined by flawed credential management functions, including password change, forgot my password, remember my password, account update, and other related functions. </div>
<br>
<div><b>Critical Areas</b></div>
<ul style="margin: 0;padding: 5px 0px 0px 0px;" id="subLan">
    <li><b>Secure Passwords</b>
        <div>
            <ul>
                <li>
                    Encourage users to store strong passwords, two-factor authentication
                </li>
                <li>
                    Show password strength meter during signup
                </li>
                <li>
                    A strong password should not contain repeated characters, dictionary passwords, and username derivative
                </li>
                <li>Password should be hashed along with salt and should be stored in database. Addition of salt protects againt rainbow attack</li>
            </ul>
        </div>
    </li>
    <li><b>Password Reset</b>
        <div>
            <ul>
                <li>
                    Necessary steps must be taken while carefully implementing a password reset option
                </li>
                <li>
                    For example, when resetting a password a service provider will ask for an email to send the password reset link. If the service provider says if the provided email is invalid then the attacker will brute force possible email ids. From there, an attacker can send an email with a phishing attack
                </li>
                <li>
                    This can be avoided if the service provider does not provide information such as invalid email but considering as a valid one
                </li>
            </ul>
        </div>
    </li>
    <li><b>JSON Web Tokens</b>
        <div>
            <ul>
                <li>
                    JWT is used for authentication purposes. Suppose service provider needs to authenticate users from an identity provider. They can send a request to the identity provider and the IP provider returns JWT. From there the user can use the JWT token for further communication with the service provider
                </li>
                <li>
                    The format of JWT token is aaaaaaaaa.bbbbbbbbbbb.ccccccccccc
                </li>
                <li>
                    aaaaaaaaa = base64Encode({type:”JWT”,alg:”HMAC | RSA”}), bbbbbbbbbbb = base64Encode(actual payload), ccccccccccc = hash(secret, aaaaaaaaa | bbbbbbbbbbb)
                </li>
                <li>
                    For example, when a user receives a JWT token as base64Encode({type:"JWT",alg:"HMAC"}).base64Encode({role:"user",token:"1dsd2dd4f"}}).signature. The user can modify the alg attribute with "None", change the role to "admin" and remove the signature. Now the user can elate himself to admin because the server will not verify the authenticity of token.
                </li>
                <li>
                    Signature of the token must be checked for integrity
                </li>
            </ul>
        </div>
    </li>
    <li><b>Browser Caching</b>
        <div>
            <ul>
                <li>
                    Authentication pages should be marked with all varieties of the no cache tag to prevent someone from using the back button in a user’s browser to backup to the login page and resubmit the previously typed in credentials. Many browsers now support the AUTOCOMPLETE=OFF flag to prevent storing of credentials in autocomplete caches
                </li>
            </ul>
        </div>
    </li>
    <li><b>Session ID Protection</b>
        <div>
            <ul>
                <li>
                    Ideally, a user’s entire session should be protected via SSL. If this is done, then the session ID (e.g., session cookie) cannot be grabbed off the network, which is the biggest risk of exposure for a session ID
                </li>
                <li>
                    If SSL is not viable for performance or other reasons then session IDs themselves must be protected in other ways. They should never be included in the URL as they can be cached by the browser
                </li>
                <li>
                        Session IDs should be long, complicated, random numbers that cannot be easily guessed
                </li>
            </ul>
        </div>
    </li>
</ul>