<script>
        $("#back").click(function(){
            $('#tabContent').load("securitystudy.html");
        })
    </script>
    <style>
       #subLan{
            margin: 0;
            padding: 5px 0px 0px 0px;
        }
        #subLan li{
            padding:5px 0px 5px 0px;
            display: list-item;
        }
        #phase td{
            padding: 10px 20px 10px 0px;
        }
    </style>
    <a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
    <div align="center"><b>Broken Access Control</b></div>
    <div>Access control is closely tied with authorization. There is a difference between authentication and authorization. Authentication happens when the user provides credentials to log in to a website. There are webpages in a website which is prohibited for users like admin pages and users are not authorized to access these pages. Authorization can be termed as rights to access a specified resource in a website.</div>
    <br>
    <div><b>Broken Access Control Examples</b></div>
    <ul id="subLan">
        <li>Access to a hosting control / administrative panel</li>
        <li>Access to a server via FTP / SFTP / SSH</li>
        <li>Access to a website&rsquo;s administrative panel</li>
        <li>Access to other applications on your server</li>
        <li>Access to a database</li>
    </ul>
    <div><b>Risks associated</b></div>
    <ul id="subLan">
        <li>access unauthorized functionality and/or data;</li>
        <li>view sensitive files;</li>
        <li>modify other users&rsquo; data;</li>
        <li>change access rights, etc.</li>
    </ul>
    <div><b>Recommendations</b>
        <ul id="subLan">
            <li>With the exception of public resources, deny by default.</li>
            <li>Implement access control mechanisms once and reuse them throughout the application, including minimizing CORS usage.</li>
            <li>Model access controls should enforce record ownership, rather than accepting that the user can create, read, update, or delete any record.</li>
            <li>Disable webserver directory listing and ensure file metadata (e.g. .git) and backup files are not present within web roots</li>
            <li>Log access control failures, alert admins when appropriate</li>
            <li>Rate limit API and controller access to minimize the harm from automated attack tooling.</li>
            <li>JWT tokens should be invalidated on the server after logout</li>
        </ul>
    </div>