<script>
    $("#back").click(function(){
        $('#tabContent').load("securitystudy.html");
    })
</script>
<style>
   #subLan{
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
    #subLan li{
        padding:5px 0px 5px 0px;
        display: list-item;
    }
    #phase td{
        padding: 10px 20px 10px 0px;
    }
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>Insecure Deserialization</b></div>
<div>Serialization is used to convert a JSON object or XML into a byte stream. The state of the object is maintained meaning deserialization of the byte stream gives the same object. Serialization and deserialization are done due to provide uniformity of data and it can be transferred efficiently than passing large XML files over the network. When a user signs in to a website, the website will return a token in serialized form. An attacker could manipulate the token and send the token to the server. Ther server will deserialize the token without verifying the authenticity of the token.</div>
<br>
<div><b>Vulnerable Applications</b></div>
<ul id="subLan">
    <li>Object and data structure related attacks where the attacker modifies application logic or achieves arbitrary remote code execution if there are classes available to the application that can change behavior during or after deserialization</li>
    <li>Typical data tampering attacks such as access-control-related attacks where existing data structures are used but the content is changed</li>
</ul>
<br>
<div><b>Example</b></div>
<p>A PHP forum uses PHP object serialization to save&nbsp;a &ldquo;super&rdquo; cookie, containing the user&rsquo;s user ID, role, password&nbsp;hash, and other state:</p>
<div>a:4:{i:0;i:132;i:1;s:7:"<span style="color: #ff0000;">Mallory</span>";i:2;s:4:"<span style="color: #ff0000;">user</span>"; i:3;s:32:"b6a8b3bea87fe0e05022f8f3c88bc960";}</div>
<p>An attacker changes the serialized object to give themselves admin privileges:</p>
<div>
<p>a:4:{i:0;i:1;i:1;s:5:"<span style="color: #ff0000;">Alice</span>";i:2;s:5:"<span style="color: #ff0000;">admin</span>";i:3;s:32:"b6a8b3bea87fe0e05022f8f3c88bc960";}</p>
</div>
<br>
<div><b>Recommendations</b>
    <ul id="subLan">
        <li>Avoid using the serialization technique.</li>
        <li>If used provide a digital signature to verify the integrity</li>
        <li>Encrypt the content</li>
        <li>Execute deserialization in low privilege environment</li>
        <li>Log deserialization exceptions and failures, such as where the incoming type is not the expected type, or the deserialization throws exceptions.</li>
        <li>Monitoring deserialization, alerting if a user deserializes constantly.</li>
    </ul>
</div>