<script>
    $("#back").click(function(){
        $('#tabContent').load("securitystudy.html");
    })
</script>
<style>
   #subLan{
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
    #subLan li{
        padding:5px 0px 5px 0px;
        display: list-item;
    }
    #phase td{
        padding: 10px 20px 10px 0px;
    }
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>Insufficient Logging and Monitoring</b></div>
<div>Exploitation of insufficient logging and monitoring is the bedrock of nearly every major incident.Attackers rely on the lack of monitoring and timely response to achieve their goals without being detected.</div>
<br>
<div><b>Vulnerable Applications</b></div>
<ul id="subLan">
    <li>Auditable events, such as logins, failed logins, and high-value transactions are not logged.</li>
    <li>Warnings and errors generate no, inadequate, or unclear log messages.</li>
    <li>Logs of applications and APIs are not monitored for suspicious activity.</li>
    <li>Logs are only stored locally.</li>
    <li>Appropriate alerting thresholds and response escalation processes are not in place or effective.</li>
    <li>Penetration testing and scans by&nbsp;<u><a title="Category:Vulnerability Scanning Tools" href="https://www.owasp.org/index.php/Category:Vulnerability_Scanning_Tools">DAST</a></u>&nbsp;tools (such as&nbsp;<u><a title="OWASP Zed Attack Proxy Project" href="https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project">OWASP ZAP</a></u>) do not trigger alerts.</li>
    <li>The application is unable to detect, escalate, or alert for active attacks in real time or near real time.</li>
</ul>
<br>
<div><b>Recommendations</b>
    <ul id="subLan">
        <li>Ensure all login, access control failures, and server-side input validation failures can be logged with sufficient user context to identify suspicious or malicious accounts, and held for sufficient time to allow delayed forensic analysis.</li>
        <li>Ensure that logs are generated in a format that can be easily consumed by a centralized log management solutions.</li>   
        <li>Ensure high-value transactions have an audit trail with integrity controls to prevent tampering or deletion, such as append-only database tables or similar.</li>
        <li>Establish effective monitoring and alerting such that suspicious activities are detected and responded to in a timely fashion.</li>
    </ul>
</div>