<script>
    $("#back").click(function(){
        $('#tabContent').load("securitystudy.html");
    })
</script>
<style>
   #subLan{
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
    #subLan li{
        padding:5px 0px 5px 0px;
        display: list-item;
    }
    #phase td{
        padding: 10px 20px 10px 0px;
    }
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>Security Misconfiguration</b></div>
<div>Security misconfiguration can happen at any level of an application stack, including the network services, platform, web server, application server, database, frameworks, custom code, and pre-installed virtual machines, containers, or storage. Automated scanners are useful for detecting misconfigurations, use of default accounts or configurations, unnecessary services, legacy options, etc.</div>
<br>
<div><b>Vulnerable Applications</b></div>
<ul id="subLan">
    <li>Missing appropriate security hardening across any part of the application stack, or improperly configured permissions on cloud services</li>
    <li>Unnecessary features are enabled or installed (e.g. unnecessary ports, services, pages, accounts, or privileges)</li>
    <li>Default accounts and their passwords still enabled and unchanged</li>
    <li>Error handling reveals stack traces or other overly informative error messages to users</li>
    <li>For upgraded systems, the latest security features are disabled or not configured securely</li>
</ul>
<div><b>Recommendations</b>
    <ul id="subLan">
        <li>A repeatable hardening process that makes it fast and easy to deploy another environment that is properly locked down</li>
        <li>A minimal platform without&nbsp;any unnecessary features, components, documentation, and samples</li>
        <li>A task to review and update the configurations appropriate to all security notes, updates and patches as part of the patch management process</li>
        <li>Disable webserver directory listing and ensure file metadata (e.g. .git) and backup files are not present within web roots</li>
    </ul>
</div>