<script>
    $("#back").click(function(){
        $('#tabContent').load("securitystudy.html");
    })
</script>
<style>
   #subLan{
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
    #subLan li{
        padding:5px 0px 5px 0px;
        display: list-item;
    }
    #phase td{
        padding: 10px 0px 10px 0px;
    }
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>SQL Injection</b></div>
<div>SQL Injection is a code injection technique which predominantly has the top spot in the OWASP list. An SQL injection occurs when SQL statements are given as input from a web page such as username input field or password field. With SQL injection an attacker can add data to the database, retrieve the data, modify its content, bring down SQL server and in worst case taking admin privileges. </div>
<br>
<div><b>SQL can be further classified into sublanguages:</b></div>
<ul style="margin: 0;padding: 5px 0px 0px 0px;" id="subLan">
    <li><b>Data Manipulation Language</b>
        <div>
            <div>As the name says data manipulation language deals with the manipulation of data and 
                includes the most common SQL statements such as SELECT, INSERT, UPDATE, DELETE, etc., and it is 
                used for requesting a result set of records from database tables (select), adding (insert), deleting and modifying (update) data in a database.
            </div>
            <div style="padding-top: 5px">
                If an attacker uses SQL injection of the DML type to manipulate your database, the attacker will violate the following protection goals in information security: confidentiality (select), integrity (insert, update) and availability (delete).
            </div>
        </div>
    </li>
    <li><b>Data Definition Language</b>
        <div>
                <div>Data definition language includes commands for defining data structures, especially database schemas which tell how the data should reside in the database. It includes statements such as CREATE, ALTER, and DROP.
                </div>
                <div style="padding-top: 5px">If an attacker uses SQL injection of the DDL type to manipulate your database, the attacker will violate the following protection goals in information security: integrity (alter) & availability (drop). </div>
                </div>
    </li>
    <li><b>Data Control Language</b>
        <div>
            <div>Data control language is used to create privileges to allow users to access and manipulate the database. It includes statements such as GRANT and REVOKE.
            </div>
            <div style="padding-top: 5px">
                If an attacker uses SQL injection of the DCL type to manipulate your database, the attacker will violate the following protection goals in information security: confidentiality (grant) & availability (revoke). 
            </div>
        </div>
    </li>
</ul>
<br>
<div><b>Example of SQL Injection</b>
    <div>
        Think of a web application, that allows displaying user information, by typing a username into an input field. The input will then be sent to the server and gets inserted into a SQL query which then is processed by an SQL interpreter.
    </div>
    <div style="padding: 7px 0px 7px 0px;">
        SELECT * FROM users WHERE name = '" + userName + "'
    </div>
    <div>
        The above query can be exploited in many different ways by manipulating the userName variable.
        Possible value can be bharath' or '1'='1 which will result in 
        <p>SELECT * FROM users WHERE name = 'bharath' or '1'='1'.</p> 
        Other possible values can be bharath' or '1'='1' --, bharath' or true --.
    </div>
</div>
<br>
<div><b>Different types of SQL Injection</b>
<ul id="subLan">
    <li><b>Blind SQL Injection</b>
        <div>
            Blind SQL injection is used when a web application is vulnerable to an SQL injection but the results of the injection are not visible to the attacker. The page with the vulnerability may not be one that displays data but will display differently depending on the results of a logical statement injected into the legitimate SQL statement called for that page.
        </div>
        <div>
            In the above specified example, the userName variable coule take the value bharath' AND substring(database_version(),1,1) = 2 -- which will result in 
            <p>SELECT * FROM users WHERE name = 'bharath' AND substring(database_version(),1,1) = 2 --'</p>
        </div>
        <div>
            The query will return the row if the name matches bharath and the first character of database version is equal to 2. Otherwise, it will not return the row. We can obtain database version information whenever a row being returned.
        </div>
    </li>
    <li><b>Time based SQL Injection</b>
        <div>Time-based techniques are often used to achieve tests when there is no other way to retrieve information from the database server. This kind of attack injects a SQL segment which contains specific DBMS function or heavy query that generates a time delay.</div>
        <div>
            In the above specified example, the userName variable coule take the value bharath'; sleep(10) -- which will result in 
            <p>SELECT * FROM users WHERE name = 'bharath'; sleep(10)--'</p>
        </div>
        <div>
            The query will return response after 10 seconds. Time based SQL injection can be used to bring dring down SQL server by sending mutliple request with sleep function taking higher value.
        </div>
    </li>
</ul>
<br>
<div><b>Recommendations</b>
    <ul id="subLan">
        <li>Sanitize the input, have regex for each input and compare the value against the regex</li>
        <li>Using prepared statement</li>
    </ul>
</div>
<br>
<div><b>How does prepared statement thwarts SQL injection?</b>
    <div>
        Before understanding the prepared statment, we need to know execution of SQL statment in the database. There are 5 stages in SQL execution.
        <table id="phase">
            <tr>
                <td width="15%">1) Parsing Phase</td>
                <td>SQL query is checked for syntax and semantics issues. It also checks whether table exist along with the columns</td>
            </tr>
            <tr>
                <td>2) Compiling Phase</td>
                <td>Converts SQL query into machine understandable language</td>
            </tr>
            <tr>
                <td>3) Optimization Phase</td>
                <td>Finds the optimal solution to execute the query</td>
            </tr>
            <tr>
                <td>4) Caching Phase</td>
                <td>Caches the optimal solution so that if the same query is executed next time then above-mentioned phases will not be executed but directly taking the optimal solution</td>
            </tr>
            <tr>
                <td>5) Execution Phase</td>
                <td>Executes the query and returns the result set</td>
            </tr>
        </table>
    </div>
    <div>
        The problem arises during compliation phase. Consider the query SELECT * FROM users WHERE name = 'bharath'; sleep(10)--' which is subjected to injection. We know that attacker had given the value bharath'; sleep(10)--. During the compiling phase, sleep(10) is intrepreted as SQL statment and it is converted into machine code and it gets executed during execution phase.
    </div>
    <div>
        If the query is executed using prepared statement, the user input value is given to a special placeholder "?". The above query will be reconstructed as SELECT * FROM users WHERE name = ?. The question mark will replaced during execution phase which means user input data will not converted to machine code.
    </div>
</div>
</div>
