<script>
    $("#back").click(function(){
        $('#tabContent').load("securitystudy.html");
    })
</script>
<style>
   #subLan{
        margin: 0;
        padding: 5px 0px 0px 0px;
    }
    #subLan li{
        padding:5px 0px 5px 0px;
        display: list-item;
    }
    #phase td{
        padding: 10px 20px 10px 0px;
    }
</style>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div align="center"><b>Using Components with Known Vulnerabilities</b></div>
<div>Any software requires a third party library to develop. For example, in web application development, front end library such as Vue or React are used extensively. Developers must know the version of libraries used and it should be checked for known vulnerabilities. Using a library with a known vulnerability can lead to data breaches.</div>
<br>
<div><b>Vulnerable Applications</b></div>
<ul id="subLan">
    <li>You do not know the versions of all components you use (both client-side and server-side). This includes components you directly use as well as nested dependencies</li>
    <li>The software is vulnerable, unsupported, or out of date. This includes the OS, web/application server, database management system (DBMS), applications, APIs and all components, runtime environments, and libraries.</li>
    <li>You do not fix or upgrade the underlying platform, frameworks, and dependencies in a risk-based, timely fashion. This commonly happens in environments when patching is a monthly or quarterly task under change control, which leaves organizations open to many days or months of unnecessary exposure to fixed vulnerabilities.</li>
    <li>The software developers do not test the compatibility of updated, upgraded, or patched libraries.</li>
    <li>You do not secure the components&rsquo; configurations.</li>
</ul>
<br>
<div><b>Recommendations</b>
    <ul id="subLan">
        <li>Remove all unnecessary dependencies.</li>
        <li>Have an inventory of all your components on the client-side and server-side.</li>
        <li>
        <div>Monitor sources like Common Vulnerabilities and Disclosures (<a href="https://cve.mitre.org/" target="_blank" rel="noopener">CVE</a>)&nbsp;and National Vulnerability Database (<a href="https://nvd.nist.gov/" target="_blank" rel="noopener">NVD</a>)&nbsp;for vulnerabilities in the components.</div>
        </li>
        <li>Obtain components only from official sources.</li>
        <li>Get rid of components not actively maintained.</li>
        <li>Use virtual patch.</li>
    </ul>
</div>