<script>
        $("#back").click(function(){
            $('#tabContent').load("securitystudy.html");
        })
    </script>
    <style>
       #subLan{
            margin: 0;
            padding: 5px 0px 0px 0px;
        }
        #subLan li{
            padding:5px 0px 5px 0px;
            display: list-item;
        }
        #phase td{
            padding: 10px 20px 10px 0px;
        }
    </style>
    <a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
    <div align="center"><b>XML External Entity (XXE)</b></div>
    <div>An XML External Entity attack is a type of attack against an application that parses XML input. This attack occurs when XML input containing a reference to an external entity is processed by a weakly configured XML parser. This attack may lead to the disclosure of confidential data, denial of service, server-side request forgery, port scanning from the perspective of the machine where the parser is located, and other system impacts. </div>
    <br>
    <div><b>Applications Vulnerable to XXE attacks</b></div>
    <ul style="margin: 0;padding: 5px 0px 0px 0px;" id="subLan">
        <li>Application accepting XML from untrusted resources and parsing the XML document</li>
        <li>Simple Object Access Protocol (SOAP) which uses XML to exchange data between client and the server. If web application uses SOAP prior to version 1.2, then it is likely susceptible to XXE attacks</li>
        <li>If your application uses SAML for identity processing within federated security or single sign-on (SSO) purposes. SAML uses XML for identity assertions and may be vulnerable</li>
    </ul>
    <br>
    <div><b>XXE attacks</b></div>
    <ul style="margin: 0;padding: 5px 0px 0px 0px;" id="subLan">
        <li><b>Billion Laughs attack</b>
            <div>
                To understand this attack, let us take a simple example. Consider the below code where the client sends an XML to the server.
                <table id="phase">
                    <tr>
                        <td>Request</td>
                        <td>Response</td>
                    </tr>
                    <tr>
                        <td><div style="white-space: pre-wrap;">&lt;!DOCTYPE foo [&#10;     &lt;!ELEMENT foo ANY&gt;&#10;     &lt;!ENTITY bar "World"&gt;&#10;]&gt;&#10;&lt;foo&gt;Hello &bar;&lt;/foo&gt;</div></td>
                        <td>Hello World</td>
                    </tr>
                </table>
            </div>
            <div>
                When the server receives the XML, it parses the XML file. It checks the element foo and inside the element, there is a string "Hello" concatenated with the variable bar. The bar variable is referenced in an external entity and has the value "world". The server now generates a response with "Hello World" and sends it to the client. This is may seem harmless XML but consider the below XML.
                <table id="phase">
                    <tr>
                        <td>Request</td>
                        <td>Response</td>
                    </tr>
                    <tr>
                        <td><div style="white-space: pre-wrap;">&lt;!DOCTYPE foo [&#10;    &lt;!ELEMENT foo ANY&gt;&#10;    &lt;!ENTITY bar "World " &gt;&#10;    &lt;!ENTITY t1 "&bar;&bar;" &gt;&#10;    &lt;!ENTITY t2 "&t1;&t1;&t1;&t1;" &gt;&#10;    &lt;!ENTITY t3 "&t2;&t2;&t2;&t2;&t2;" &gt;&#10;]&gt;&#10;&lt;foo&gt;Hello &amp;t3;&lt;/foo&gt;</div></td>
                        <td>Hello World World World World World World World World World World World World World ....</td>
                    </tr>
                </table>
            </div>
            <div><img src="../blog/img/tree.png" style="margin-left: 15%;"/></div>
            <div style="margin-top: 10px;">Let us visualize with the help of a tree when foo element is executed, it has an external entity t3 and t3 is further referenced by t2's and so on. So for t3 to be executed it has to execute 5 instances of t2 and for a single t2 instance to be executed 4 instances of t1 must be executed. The XML parser will keep track of these recursive calls in the stack. Imagine if an attacker multiplies these statement to a large extent such that the stack will reach its threshold. The XML parser won't be able to process further XML content and now we have a denial of service. </div>
        </li>
        <li><b>Server-Side Request Forgery attack</b>
            <div>
                To understand this attack, let us take a simple example. Consider the below code where the client sends an XML to the server.
                <table id="phase">
                    <tr>
                        <td>Request</td>
                        <td>Response</td>
                    </tr>
                    <tr>
                        <td><div style="white-space: pre-wrap;">&lt;!DOCTYPE foo [&#10;     &lt;!ELEMENT foo ANY&gt;&#10;     &lt;!ENTITY bar SYSTEM "file:///etc/passwd" &gt;&#10;]&gt;&#10;&lt;foo&gt;Hello &bar;&lt;/foo&gt;</div></td>
                        <td>&lt;File Content&gt;</td>
                    </tr>
                </table>
            </div>
            <div><img src="../blog/img/SSRF.png" style="margin-left: 12%;"/></div>
            <div style="margin-top: 10px;">An attacker can make the following request, and if the XML parser is configured to process external entities, it will return the contents of a file on the system.</div>
        </li>
    </ul>
    <div><b>Recommendations</b>
        <ul id="subLan">
            <li>Parse XML with low system privileges</li>
            <li>User other data formats such as JSON and YAML</li>
            <li>Remove external entities, if it is not possible to remove then configure all your XML parsers to whitelist only trusted external entities</li>
        </ul>
    </div>
