<script>
    $("#back").click(function(){
        $('#tabContent').load("challenges/overthewire.html");
    })
</script>
<a id="back" style="cursor: pointer;color:#0070E0">Go Back</a>
<div style="padding: 5px 0px 5px 0px;" align="center"><b>Bandit challenges</b>
<ul>
    <li><div>Level 0</div><div>bandit0</div></li>
</ul>